@page
@using PhraseFinder.WebApp.Extensions
@model PhraseFinder.WebApp.Pages.PhrasesModel
@{
	ViewData["Title"] = "Expr. y loc. encontradas";
}

<style>
	.user-text-paragraph {
		white-space: pre-line;
	}

	.selected-phrase-card {
		box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
	}

	.selected-phrase-link {
		color: var(--bs-primary) !important; 
	}
</style>

<div class="container">
	<h2>Expresiones y locuciones encontradas</h2>
	
	@if (Model.FoundPhrases?.Length == 0)
	{
		<p class="mt-5 user-text-paragraph">@Model.Text</p>
		<p class="fw-bold text-primary mt-3 text-muted text-end">
			No se encontraron expresiones ni locuciones en el texto introducido...
		</p>
	} 
	else if (Model.FoundPhrases != null)
	{
		<p class="my-5 user-text-paragraph">@Html.HighlightPhrases(Model.Text, Model.FoundPhrases)</p>

		<section class="row row-cols-1 row-cols-xl-2">	
			@{
				var n = 0;

				foreach (var phrase in Model.FoundPhrases)
				{
					n++;

					<div class="col mb-4">
						<article id="phrase-@n" class="card h-100">
							<div class="card-header">
								<span class="card-subtitle fw-bolder">@n</span>
							</div>
							<div class="card-body">
								<h3 class="card-title">
									@phrase.Phrase
								</h3>
								@foreach (var (definition, examples) in phrase.DefinitionToExamples)
								{
									<p class="mt-4"><strong style="font-weight: 600;">@definition</strong></p>
									if (examples.Length > 0)
									{
										<ul class="list-group">
											@foreach (var example in examples)
											{
												<li class="list-group-item"><em>@example</em></li>
											}
										</ul>
									}
								}
							</div>
						</article>
					</div>
				}
			}
		</section>
	}

	<div asp-validation-summary="All" class="text-danger mt-5"></div>
</div>

<script type="text/javascript">
	let selectedPhrase
	let selectedPhraseLink

	function selectPhrase(phraseNumber) {
		selectedPhrase?.classList.remove('selected-phrase-card')
		selectedPhraseLink?.classList.remove('selected-phrase-link')

		selectedPhrase = document.getElementById(`phrase-${phraseNumber}`)
		selectedPhrase?.classList.add('selected-phrase-card')

		selectedPhraseLink = document.getElementById(`phrase-link-${phraseNumber}`)
		selectedPhraseLink?.classList.add('selected-phrase-link')
	}
</script>
