@page
@using PhraseFinder.WebApp.Extensions
@model PhraseFinder.WebApp.Pages.PhrasesModel
@{
	ViewData["Title"] = "Exprs. y locs. encontradas";
}

@section Styles {
    <link rel="stylesheet" href="~/css/phrases.css" asp-append-version="true" />
}

<article class="container">
    <header class="row gap-3 align-items-center">
        <a asp-page="/Index" class="d-print-none col-auto btn btn-link back-button">
            <img src="~/assets/arrow-left-circle.svg" width="24" height="24" alt="Icono de vuelta atrás" />
        </a>
        <h2 class="col p-0 m-0">Expresiones y locuciones@(Model.PhrasesAreLoaded ? " encontradas" : "")</h2>
        
        <noscript>
            <style>
                #download-as-pdf-button-container {
                    display: none !important;
                }
            </style>
        </noscript>

        <div id="download-as-pdf-button-container" class="mt-4 mt-md-0 col-12 col-md-auto">
            @if (Model.FoundPhrases != null)
            {
                <button class="d-print-none mx-auto btn btn-secondary d-flex flex-row align-items-center gap-2" onclick="print()">
                    <img style="filter: invert(100%);"
                         src="~/assets/file-earmark-arrow-down.svg"
                         width="24"
                         height="24"
                         alt="Icono de descarga de fichero" />
                    Guardar como PDF
                </button>
            }
        </div>
    </header>

    @if (Model.FoundPhrases == null || Model.FoundPhrases.Length == 0)
    {
        <p class="my-5 user-text-paragraph border border-4 rounded-3 fw-medium">@Model.Text</p>
    }
    
    @if (Model.FoundPhrases?.Length == 0)
    {
        <p class="fw-bold mt-3 text-muted text-end">
            No se encontraron expresiones ni locuciones en el texto introducido...
        </p>            
    }
    
    @if (!Model.PhrasesAreLoaded)
    {
        <noscript>
            <style>
                #loading {
                    display: none !important;
                }
            </style>
        </noscript>

        <form
            id="find-phrases"
            method="post"
            class="invisible"
            style="width: 0; height: 0;"
            aria-hidden="true">
        </form>

        <div id="loading" class="my-5 d-flex align-items-center justify-content-center gap-3" role="status">
            <span class="spinner-border text-primary"></span>
            <p class="mt-3 text-muted fw-semibold">
                Buscando expresiones y locuciones...
                <br/>
                Este proceso puede tomar unos segundos.
            </p>
        </div>

        <noscript>
            <form method="post" class="d-flex justify-content-center gap-2 gap-sm-5">
                <a asp-page="/Index" class="btn btn-danger">Cancelar</a>
                <button class="btn btn-primary" type="submit">Analizar texto</button>
            </form>
        </noscript> 
    }
    
    @if (Model.FoundPhrases?.Length > 0)
    {
        <p class="my-5 user-text-paragraph border border-4 rounded-3 fw-medium">@Html.HighlightPhrases(Model.Text, Model.FoundPhrases)</p>


        <section class="row row-cols-1 row-cols-xl-2">
            @{
                var n = 0;
            }

            @foreach (var phrase in Model.FoundPhrases)
            {
                n++;

                <div class="col mb-4">
                    <article id="phrase-@n" class="card shadow-md h-100">
                        <div class="card-header">
                            <span class="card-subtitle fw-bolder">@n</span>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">
                                @{
                                    var encodedPhrase = Html.Encode(phrase.Phrase);
                                    var encodedBaseWord = Html.Encode(phrase.BaseWord);
                                }

                                @Html.Raw(
                                    encodedPhrase.Replace(
                                        encodedBaseWord, 
                                        $"<em class=\"fst-normal text-decoration-underline\">{encodedBaseWord}</em>"))
                            </h3>
                            @foreach (var definition in phrase.Definitions)
                            {
                                <p class="mt-4"><strong class="fw-semibold">@definition.Definition</strong></p>
                                if (definition.Examples.Length > 0)
                                {
                                    <ul class="list-group">
                                        @foreach (var example in definition.Examples)
                                        {
                                            <li class="list-group-item"><em>@example</em></li>
                                        }
                                    </ul>
                                }
                            }
                        </div>
                    </article>
                </div>
            }
        </section>
    }

    <div asp-validation-summary="All" class="text-danger fw-medium mt-5"></div>
</article>


@section Scripts {
    @if (Model.PhrasesAreLoaded)
    {
        <script src="~/js/phrases/set-up-phrase-links.js" asp-append-version="true" defer></script>
    }
    else
    {
        <script src="~/js/phrases/find-phrases.js" asp-append-version="true" defer></script>
    }
}
